<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bvt.encodezip.mapper.FileMapper">

    <resultMap id="file" type="com.bvt.encodezip.entity.File">
        <id property="id" column="id"/>
        <result property="fileName" column="file_name"/>
        <result property="fileAliasName" column="file_alias_name"/>
        <result property="fileSuffix" column="file_suffix"/>
        <result property="filePath" column="file_path"/>
        <result property="teleporter" column="teleporter"/>
        <result property="stats" column="stats"/>
        <result property="createDate" column="create_time"/>
        <result property="updateDate" column="update_time"/>

    </resultMap>

    <resultMap id="filevo" type="com.bvt.encodezip.vo.FileVO">
        <id property="id" column="id"/>
        <result property="fileName" column="file_name"/>
        <result property="fileAliasName" column="file_alias_name"/>
        <result property="fileSuffix" column="file_suffix"/>
        <result property="teleporter" column="teleporter"/>
    </resultMap>

    <select id="getAllFile" resultMap="filevo">
        select id, file_name, file_alias_name, file_suffix, teleporter from t_file;
    </select>

    <!--按用户名查询User-->
    <select id="findFileByFileName" resultType="com.bvt.encodezip.entity.File">
        select * from t_file where file_name = #{fileName};
    </select>

    <!--按文件别名查询-->
    <select id="findFileByFileAliasName" resultType="com.bvt.encodezip.vo.FileVO">
        select id, file_name, file_alias_name, file_suffix, teleporter from t_file where file_alias_name = #{fileName};
    </select>

    <insert id="receiveFile">
        insert into t_file (file_name) values (#{fileName});
    </insert>

    <insert id="receiveFileComplete">
        insert into t_file (file_name, file_suffix, file_path, file_alias_name, teleporter) values (#{fileName}, #{fileSuffix}, #{filePath}, #{aliasName}, #{teleporter});
    </insert>
</mapper>
